<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/calendar-options.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" ></script>
  </head>
  <body>
    <div id="overlay-message">
    <div id="main">
      <div class="container">
        <div class="title">
          <h2>Personalize your Calendar</h2>
          <p>Then hit "View Calendar" to create your Family Calendar</p>
        </div>
        <form class="options" action="/calendar/<%-userId%>" method="get">
          <p><input type="checkbox" id="churchHistoryDates" name="churchHistoryDates"> Add LDS Church History Dates?</p>
          <p><input type="checkbox" id="USNationalHolidays" name="USNationalHolidays"> Add US National Holidays?</p>
          <p> Select Year:
            <select id="calendarYear" name="calendarYear" >
              <% var currentYear = new Date().getFullYear();
              console.log(currentYear);
              for(var year = currentYear - 2; year < currentYear + 5; year++) { %>
                <option value="<%- year %>" <% if(year === currentYear) { %>selected<% } %>><%- year %></option> 
              <% } %>
            </select>
          </p>
          <input class="submit-button" type="submit" value="View Calendar">
        </form>
      </div>
    </div>
  </body>
</html>