<%- include('partials/header') %>

<div class="container">
  <div class="text-center">
    <h1>Printable Family Calendar<br><small>Sign in to create a printable calendar of your ancestors life events.</small></h1>
    <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
  </div>
</div>

<%- include('partials/footer') %>
