body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/tree_photo.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.text-center {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 40px;
  background: rgba(256, 256, 256, 0.8);
}

.submit-button {
  margin-top: 10px;
}